@model LibraryManagement.Models.Return_Books

@{
    ViewData["Title"] = "Create";
}

<style>
    body {
        background-image: url("https://media.istockphoto.com/photos/ivory-off-white-paper-texture-picture-id903280608?k=20&m=903280608&s=170667a&w=0&h=yxLk_ymR4bWfgAxi774CWiLAkIt2SZD315VFBiGmRzo=");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<h4>Return_Books</h4>
<hr />
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <strong>Success!!</strong> @TempData["AlertMessage"].ToString();

    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student_Id" class="control-label"></label>
                <input asp-for="Student_Id" class="form-control" />
                <span asp-validation-for="Student_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookNo" class="control-label"></label>
                <input asp-for="BookNo" class="form-control" />
                <span asp-validation-for="BookNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Return_Date" class="control-label"></label>
                <input asp-for="Return_Date" class="form-control" />
                <span asp-validation-for="Return_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fine" class="control-label"></label>
                <input asp-for="Fine" class="form-control" />
                <span asp-validation-for="Fine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Return" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
