@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
   <br> The Policy explains your privacy and confidentiality rights, the steps the Library take to respect and protect your privacy when you use library resources, and how we deal with personally identifiable information that we may collect from you.<br>
    The Library is committed to protecting user privacy when library resources are used and personally identifiable information is collected. We will not share, sell, license, or disclose personal information to any third party without your consent unless we are compelled to do so under the law or to comply with a court order.<br>
</p>
